version: "3.9"

services:
  db:
    image: mongo:6
    restart: always
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: my_app
    ports:
      - "8000:8000"   # FastAPI
      - "8501:8501"   # Streamlit
    environment:
      mongodb_url: "mongodb://db:27017/puq_qa_bot"
    depends_on:
      - db
    command: >
      sh -c "uvicorn server:app --host 0.0.0.0 --port 8000 --reload &
             streamlit run app.py --server.port=8501 --server.address=0.0.0.0"
    restart: always

volumes:
  mongo_data:
